img.redimension{
    width: 200 px;
    height: 40px;
} 
.WhatsApp{
    background-color: aqua;
}
.Facebook{
    background-color: antiquewhite;
}

.Instagram{
    background-color: azure;

}
.Spotify{
    background-color: rgb(146, 236, 244);
}

.Tiktok{
    background-color: rgb(245, 243, 188);
}